<ion-view title="Add" id="page6">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="add-card24">
      <ion-item class="item-avatar" id="add-list-item34">
        <img src="img/7aEFdHV7RqivOEIKNwPK_useradd.png">
        <h2>Name</h2>
        <p>Phone</p>
      </ion-item>
      <div class=" item item-image">
        <img src="img/qGZnFkcCQIi9PkQdwDfz_pictureicon.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
  </ion-content>
</ion-view>