<ion-view title="Contact" id="page3">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="contact2-card22">
      <ion-item class="item-avatar" id="contact2-list-item15">
        <img src="img/2vyid3uvRbOJZaoz7nUm_icon2.png">
        <h2>Rakim Mayers</h2>
        <p>Phone (0926) 327 0898</p>
      </ion-item>
      <div class=" item item-image">
        <img src="img/keKd8OnVQzGVlQMkLCiH_rakim2.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-item class="item-icon-left positive" id="contact2-list-item17">
        <i class="icon ion-android-call"></i>Call</ion-item>
      <ion-item class="item-icon-left balanced" id="contact2-list-item18">
        <i class="icon ion-android-textsms"></i>Send Message</ion-item>
      <ion-item class="item-icon-left dark" id="contact2-list-item26">
        <i class="icon ion-edit"></i>Edit</ion-item>
    </div>
  </ion-content>
</ion-view>