<ion-view title="Contact" id="page4">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="contact3-card23">
      <ion-item class="item-avatar" id="contact3-list-item19">
        <img src="img/wHT0yBr0SsyqSwPV82c3_icon2.png">
        <h2>Travis Scott</h2>
        <p>Phone (093) 793 9115</p>
      </ion-item>
      <div class=" item item-image">
        <img src="img/8ixOr2lEQFCO4ezfDpEL_scott3.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-item class="item-icon-left positive" id="contact3-list-item21">
        <i class="icon ion-android-call"></i>Call</ion-item>
      <ion-item class="item-icon-left balanced" id="contact3-list-item22">
        <i class="icon ion-android-textsms"></i>Send Message</ion-item>
      <ion-item class="item-icon-left dark" id="contact3-list-item27">
        <i class="icon ion-edit"></i>Edit</ion-item>
    </div>
  </ion-content>
</ion-view>