<ion-view title="Contact" id="page2">
  <ion-content padding="true" class="has-header">
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="main()" id="contact-card21">
      <ion-item class="item-avatar" id="contact-list-item8">
        <img src="img/74GH1Ms1QDDs5cuCFWkQ_icon2.png">
        <h2>Marshall Matters</h2>
        <p>Phone (0925) 235 4565</p>
      </ion-item>
      <div class=" item item-image">
        <img src="img/1S4AkbiTgCuK6mv9ZL9g_marshall2.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-item class="item-icon-left positive" id="contact-list-item9">
        <i class="icon ion-android-call"></i>Call</ion-item>
      <ion-item class="item-icon-left balanced" id="contact-list-item11">
        <i class="icon ion-android-textsms"></i>Send Message</ion-item>
      <ion-item class="item-icon-left dark" id="contact-list-item24">
        <i class="icon ion-edit"></i>Edit</ion-item>
    </a>
  </ion-content>
</ion-view>