<ion-view title="Delete" id="page5">
  <ion-content padding="true" class="has-header">
    <ion-list id="delete-list4">
      <ion-item class="item-avatar item-icon-right" id="delete-list-item29">
        <img src="img/0cEBVnRSTujlICSyNhyk_marshall.jpg">
        <h2>Marshall Mathers</h2>
        <i class="icon ion-android-delete"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="delete-list-item30">
        <img src="img/xiufxHhcQsKLexvqkyXI_Rakim.jpg">
        <h2>Rakim Mayers</h2>
        <i class="icon ion-android-delete"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="delete-list-item31">
        <img src="img/IWbMHBChQRur8bKYVqTc_Scott.jpg">
        <h2>Travis Scott</h2>
        <i class="icon ion-android-delete"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>