<ion-view title="Edit" id="page7">
  <ion-content padding="true" class="has-header">
    <ion-list id="edit-list5">
      <ion-item class="item-avatar item-icon-right" id="edit-list-item38">
        <img src="img/0cEBVnRSTujlICSyNhyk_marshall.jpg">
        <h2>Marshall Mathers</h2>
        <i class="icon ion-edit"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="edit-list-item39">
        <img src="img/xiufxHhcQsKLexvqkyXI_Rakim.jpg">
        <h2>Rakim Mayers</h2>
        <i class="icon ion-edit"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="edit-list-item40">
        <img src="img/IWbMHBChQRur8bKYVqTc_Scott.jpg">
        <h2>Travis Scott</h2>
        <i class="icon ion-edit"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>